<div ng-app="TasksApp" style="padding:50px">
    <div ng-controller="TasksController" ng-cloak md-padding>
        <md-content layout-padding>
            <md-toolbar class="md-theme-light">
                <h2 class="md-toolbar-tools">
                    <span>My Tasks</span>
                </h2>
            </md-toolbar>

            @Html.Partial("~/Views/Shared/TemplateTasks.cshtml")
        </md-content>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/app/tasks/tasks.js")
    @Scripts.Render("~/Scripts/app/tasks/task-service.js")
}